In [43]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [3]:
df = pd.read_csv("ACME-HappinessSurvey2020.csv")
print(df)

     Y  X1  X2  X3  X4  X5  X6
0    0   3   3   3   4   2   4
1    0   3   2   3   5   4   3
2    1   5   3   3   3   3   5
3    0   5   4   3   3   3   5
4    0   5   4   3   3   3   5
..  ..  ..  ..  ..  ..  ..  ..
121  1   5   2   3   4   4   3
122  1   5   2   3   4   2   5
123  1   5   3   3   4   4   5
124  0   4   3   3   4   4   5
125  0   5   3   2   5   5   5

[126 rows x 7 columns]

In [4]:
df.dropna(axis=0,inplace=True)

In [5]:
print(df)

     Y  X1  X2  X3  X4  X5  X6
0    0   3   3   3   4   2   4
1    0   3   2   3   5   4   3
2    1   5   3   3   3   3   5
3    0   5   4   3   3   3   5
4    0   5   4   3   3   3   5
..  ..  ..  ..  ..  ..  ..  ..
121  1   5   2   3   4   4   3
122  1   5   2   3   4   2   5
123  1   5   3   3   4   4   5
124  0   4   3   3   4   4   5
125  0   5   3   2   5   5   5

[126 rows x 7 columns]

In [6]:
df.describe()

,Y,X1,X2,X3,X4,X5,X6
count,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000
mean,0.547619,4.333333,2.531746,3.309524,3.746032,3.650794,4.253968
std,0.499714,0.800000,1.114892,1.023440,0.875776,1.147641,0.809311
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,4.000000,2.000000,3.000000,3.000000,3.000000,4.000000
50%,1.000000,5.000000,3.000000,3.000000,4.000000,4.000000,4.000000
75%,1.000000,5.000000,3.000000,4.000000,4.000000,4.000000,5.000000
max,1.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Y       126 non-null    int64
 1   X1      126 non-null    int64
 2   X2      126 non-null    int64
 3   X3      126 non-null    int64
 4   X4      126 non-null    int64
 5   X5      126 non-null    int64
 6   X6      126 non-null    int64
dtypes: int64(7)
memory usage: 7.0 KB

In [46]:
y = df['Y']
X = df.iloc[:,1:7]
print(X.shape, Y.shape)

(126, 6) (126,)

In [47]:
# Instnatiating the models 
logistic_regression = LogisticRegression()
svm = SVC()
tree = DecisionTreeClassifier()
rf =  RandomForestClassifier(max_depth=2, random_state=0)

# Training the models 
logistic_regression.fit(X_train, y_train)
svm.fit(X, y)
tree.fit(X, y)
rf.fit(X, y)

# Making predictions with each model
log_reg_preds = logistic_regression.predict(X)
svm_preds = svm.predict(X)
tree_preds = tree.predict(X)
rf_preds = rf.predict(X)

In [49]:
model_preds = {
    "Logistic Regression": log_reg_preds,
    "Support Vector Machine": svm_preds,
    "Decision Tree": tree_preds,
    "Random forest": rf_preds
}

for model, preds in model_preds.items():
    print(f"{model} Results:\n{classification_report(y, preds)}", sep="\n\n")

Logistic Regression Results:
              precision    recall  f1-score   support

           0       0.56      0.49      0.52        57
           1       0.62      0.68      0.65        69

    accuracy                           0.60       126
   macro avg       0.59      0.59      0.59       126
weighted avg       0.59      0.60      0.59       126

Support Vector Machine Results:
              precision    recall  f1-score   support

           0       0.76      0.61      0.68        57
           1       0.72      0.84      0.78        69

    accuracy                           0.74       126
   macro avg       0.74      0.73      0.73       126
weighted avg       0.74      0.74      0.73       126

Decision Tree Results:
              precision    recall  f1-score   support

           0       0.92      0.96      0.94        57
           1       0.97      0.93      0.95        69

    accuracy                           0.94       126
   macro avg       0.94      0.95      0.94       126
weighted avg       0.95      0.94      0.94       126

Random forest Results:
              precision    recall  f1-score   support

           0       0.67      0.56      0.61        57
           1       0.68      0.77      0.72        69

    accuracy                           0.67       126
   macro avg       0.67      0.66      0.67       126
weighted avg       0.67      0.67      0.67       126